
    <div class="modal fade" id="feedbackModal2" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header p-4 fw-bold" style="background-color: #FEDE3B;">
                    <h5 class=" modal-title font-alt text-black" id="feedbackModalLabel">More Coins</h5>
                    <button class="btn-close btn-close-black" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body border-0 p-4">
                    <div class="">
                        <iframe width="300px" height="690px" src="https://www.dolarsi.com/func/moduloArriba-n.html"
                            frameborder="0" scrolling="0" allowfullscreen="" class="col-12"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>