{% extends 'parent_webapp.html' %}
{% load static %}
{% block content %}
<div class="row p-4 btn-white">
    <div class="col-2 text-center">
        <img class = "img-fluid img-thumbnail" src="{% static 'img/logoitbank.png' %} " alt="" srcset="" width="180px">
            <div class="d-grid gap-2 m-0 p-0 text-center">
                <button onclick =" location.href = '/main/' " class="btn {% block color_home %}{% endblock color_home %} container" type="button">
                    <span>
                        <img src=" {% static 'img/home.png' %} " alt="" srcset="" width='30px'>
                    </span>
                    <span class="container">
                        Home
                    </span>
                </button>
                <button onclick =" location.href = '/main/prestamos/' " class="btn {% block color_prestamos %}{% endblock color_prestamos %} container" type="button">
                    <span>
                        <img src=" {% static 'img/loan.png' %} " alt="" srcset="" width='30px'>
                    </span>
                    <span class="container">
                        Prestamos
                    </span>
                </button>    
                <button onclick =" location.href = '/main/movimientos/' " class="btn {% block color_movimientos %}{% endblock color_movimientos %} container" type="button">
                    <span>
                        <img src=" {% static 'img/history.png' %} " alt="" srcset="" width='30px'>
                    </span>
                    <span class="container">
                        Movimientos
                    </span>
                </button>      
                <button onclick =" location.href = '/main/cajas/' " class="btn {% block color_cajas %}{% endblock color_cajas %} container" type="button">
                    <span>
                        <img src=" {% static 'img/piggy-bank.png' %} " alt="" srcset="" width='30px'>
                    </span>
                    <span class="container">
                        Cajas
                    </span>
                </button>
                <button onclick =" location.href = '/main/tarjetas/' " class="btn {% block color_tarjetas %}{% endblock color_tarjetas %} container" type="button">
                    <span>
                        <img src=" {% static 'img/debit-card.png' %} " alt="" srcset="" width='30px'>
                    </span>
                    <span class="container">
                        Tarjetas
                    </span>
                </button>
                <button onclick =" location.href = '/main/cuenta/' " class="btn {% block color_cuenta %}{% endblock color_cuenta %} container" type="button">
                    <span>
                        <img src=" {% static 'img/user.png' %} " alt="" srcset="" width='30px'>
                    </span>
                    <span class="container">
                        Cuenta
                    </span>
                    </button>
            </div>
    </div>
    <div class="col-10">
        {% block vista_app %}{% endblock vista_app %}
    </div>
</div>
{% endblock content %}