{% extends "parent_webapp.html" %}
{% load static %}
{% block title %} Inicie sesion {% endblock %}
{% block content%}
  <body>
    <style>
    body{ 
      background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
      /*background: rgb(254,222,59);
      background: radial-gradient(circle, rgba(254,222,59,1) 0%, rgba(254,222,59,1) 35%, rgba(254,183,59,1) 100%); 
      background: rgb(17,138,178);
      background: radial-gradient(circle, rgba(17,138,178,1) 0%, rgba(6,214,160,1) 35%, rgba(7,59,76,1) 100%); */
    }
    #container-login{
       background: transparent;
    }
    
    #imagenes-muestra{
      background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    }
        </style>
 <form action="" method="POST">
      {% csrf_token %}
 <form> 
  <div>
     {%if messages%}
       {% for message in messages%}
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
           <!--para agregar estilos de boostrap ocupa toda la pantalla,solucionarlo-->
         </div>
       {% endfor %}
     {% endif %}
    
    <div class="container w-75  bg-transparent" id="container-login">
        <div class="form-control m-0 p-0">
            <div class="row align-items-stretch">
                <div class="col" id="imagenes-muestra">
                    <img src="{% static 'img/Top up credit-pana.png' %}" width="490" height="500" alt="transferencias imagenes">
                </div>
                <div class="col p-5">
                    <form class="text-dark"id="formulario">
                        <div class="text-end" id="logo-formulario">
                          <img src="{% static 'img/undraw_handcrafts_heart_recortado.png' %}" alt="logo">
                        </div>
                        <h4 class="fw-bold text-center">Bienvenido</h4>
                        <div class="mb-4">
                          <label for="exampleInputEmail1" class="form-label">Usuario</label>
                          <input type="text" class="form-control" id="InputEmail1" aria-describedby="emailHelp" name="username">
                          <div id="emailHelp" class="form-text">Nunca compartas los datos de tu cuenta</div>
                          <!--AGREGAR ICON MAIL-->
                        </div>
                        <div class="mb-4">
                          <label for="InputPassword1" class="form-label">Contraseña</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                          <!--Agregar lock icon-->
                        </div>
                        <div class="mb-4 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Recordar usuario</label>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-outline-primary">Ingresar</button>
        
                        </div>
                        <div class="my-3">
                           <span>  ¿No tienes cuenta? <a href="#">Registrate</a></span>
                            <br>

                           <a href="#"><h6>Recuperar contraseña</h6>
                           </a> 
                        </div>
                      </form>
                </div>
            </div>
            
        </div>
    </div>

  </body>
  {% endblock %}
