{%extends "index.html"%}
{% load static %}
{% block title %} inicie sesion {% endblock %}
{% block content%}
<!--<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
  </head>-->
  <body>
   <!--  <nav class="navbar navbar-expand-lg bg-light fixed-top ms-end " id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand text-dark" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto text-center text-light">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown link
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <button onclick="" class="btn rounded-pill px-3 mb-2 mb-lg-0 text-black" data-bs-toggle="modal"
                    style="background-color: #06d6a0" data-bs-target="#feedbackModal">
                    <span class="small">Empresas</span>
            </button>
          </ul>
        </div>
      </div>
    </nav>-->
    <!--<nav class="navbar navbar-expand-lg bg-dark text-white fixed-top shadow-sm" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-light" href="#page-top">ITBANK</a>
            <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse " id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li class="nav-item"><a href="#">prueba3</a></li>
                    <li class="nav-item"><a href="#">prueba2</a> </li>
                    <li class="nav-item"><a href="#">Prueba1</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3 text-white" href="#">Contactanos</a></li>
                </ul>
                <button onclick="#" class="btn rounded-pill px-3 mb-2 mb-lg-0 text-black" data-bs-toggle="modal"
                    style="background-color: #06d6a0" data-bs-target="#feedbackModal">
                    <span class="small">Empresas</span>
                </button>
            </div>
        </div>
    </nav>-->
    <!--NAVEGACION-->
    <form action="" method="POST">
      {% csrf_token %}
 <form> 
   <div class="container w-75  bg-transparent" id="container-login">
     {%if messages%}
       {% for message in messages%}
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
           <!--para agregar estilos de boostrap ocupa toda la pantalla,solucionarlo-->
         </div>
       {% endfor %}
     {% endif %}
    
    <div class="container w-75  bg-transparent" id="container-login">
        <div class="form-control">
            <div class="row align-items-stretch">
                <div class="col" id="imagenes-muestra">
                    <img src="" width="570" height="490" alt="transferencias imagenes">
                </div>
                <div class="col p-5">
                    <form class="text-dark"id="formulario">
                        <div class="text-end" id="logo-formulario">
                          <img src="" alt="logo">
                        </div>
                        <h4 class="fw-bold text-center">Bienvenido</h4>
                        <div class="mb-4">
                          <label for="exampleInputEmail1" class="form-label">Usuario</label>
                          <input type="text" class="form-control" id="InputEmail1" aria-describedby="emailHelp" name="username">
                          <div id="emailHelp" class="form-text">Nunca compartas los datos de tu cuenta</div>
                          <!--AGREGAR ICON MAIL-->
                        </div>
                        <div class="mb-4">
                          <label for="InputPassword1" class="form-label">Contraseña</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                          <!--Agregar lock icon-->
                        </div>
                        <div class="mb-4 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Recordar usuario</label>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-outline-primary">Ingresar</button>
        
                        </div>
                        <div class="my-3">
                           <span>  ¿no tienes cuenta? <a href="#">registrate</a></span>
                            <br>

                           <a href="#"><h6>Recuperar contraseña</h6>
                           </a> 
                        </div>
                      </form>
                </div>
            </div>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
  {% endblock %}
<!--</html>-->
