{% extends 'parent_main.html' %}
{% block color_home %}btn-white{% endblock color_home %}
{% block color_prestamos %}btn-white{% endblock color_prestamos %}
{% block color_movimientos %}btn-primary{% endblock color_movimientos %}
{% block color_cajas %}btn-white{% endblock color_cajas %}
{% block color_tarjetas %}btn-white{% endblock color_tarjetas %}
{% block color_cuenta %}btn-white{% endblock color_cuenta %}
{% block vista_app %}
<h3 class = "text-center" >Realizar una transferencia</h3>
{% include 'form_transferencia.html' %}
{% endblock vista_app %}