{% extends 'parent_webapp.html' %}
{% include 'bootstrap_head.html' %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table align-middle table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <td>TIPO DE MOVIMIENTO</td>
                            <td>Nº</td>
                            <td>CBU/CVU CUENTA AFECTADA</td>
                            <td>FECHA</td>
                            <td>MONTO</td>
                            <td>BALANCE</td>
                        </tr>

                    </thead>
                    <tbody>
                            <tr>
                                <td>ENVIO TRANSFERENCIA</td>
                                <td>124</td>
                                <td>1000365487200111</td>
                                <td>17/08/22</td>
                                <td>$   60.000,66</td>
                                <td>$   65489784</td>
                            </tr>
                            <tr>
                                <td>RECIBO TRANSFERENCIA</td>
                                <td>123</td>
                                <td>1000365487200111</td>
                                <td>17/08/22</td>
                                <td>$   120,66</td>
                                <td>$   65489784</td>
                            </tr>
                            <tr>
                                <td>DEBITO AUTOMATICO</td>
                                <td>122</td>
                                <td>1000365487200111</td>
                                <td>17/08/22</td>
                                <td>$   12000,69</td>
                                <td>$   65489784</td>
                            </tr>
                            <tr>
                                <td>PRESTAMO</td>
                                <td>121</td>
                                <td>1000365487200111</td>
                                <td>17/08/22</td>
                                <td>$   200.000,44</td>
                                <td>$   65489784</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
{% include 'bootstrap_scripts.html' %}
{% endblock page_content %}