<nav class="navbar navbar-expand-lg bg-black text-white fixed-top shadow-sm" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-light" href="#page-top">ITBANK</a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-3 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3 text-white" href="#features">About Us</a></li>
            </ul>
            <button class="btn rounded-pill px-3 mb-2 mb-lg-0 text-black me-3" data-bs-toggle="modal"
                style="background-color: #FEDE3B;" data-bs-target="#feedbackModal2">
                <span class="small">More Coins</span>
            </button>
            <button onclick="actualizarCotizaciones()" class="btn rounded-pill px-3 mb-2 mb-lg-0 text-black"
                data-bs-toggle="modal" style="background-color: #FEDE3B;" data-bs-target="#feedbackModal">
                <span class="small">Dolar Now</span>
            </button>
        </div>
    </div>
</nav>